<div class="col-md-3 col-sm-6 col-xs-12" style="margin: 5px" style="height:240px;text-align: center;">
  <div class="row" style="margin-top:5px;">
    <a
      data-fancybox="gallery"
      href="{{item.web_photo}}"
      data-caption="<div style='text-align:center;'><i>{{item.owner_name}}</i>{{if item.owner_comment ": " ""}}{{if item.owner_comment item.owner_comment ""}}</div>">
        <img style="height:192px; max-width:300px;" src="{{item.thumbnail}}" />
    </a>
  </div>

  <div class="row">
  <i>{{item.owner_name}}</i>{{#if item.owner_comment}}: {{truncatedComment}}{{/if}}
  </div>
</div>