<h1 style="text-align:center;margin-bottom:20px;">
  {{#if icon}}
    <img src="{{icon}}" height="50" width="50">
  {{/if}}
  {{title}}
</h1>


<div style="text-align:center;margin-bottom:20px;clear:both;">
  <div class="col-md-4 col-md-offset-4">
    Here are your snapshots, enjoy!
  </div>
  <div class="col-md-4">
    <div style="width:100%;max-width:25em;margin-left:auto;margin-right:auto;">
      <button class="btn btn-default col-xs-6" {{action "upload"}}>
        Upload
      </button>
      {{#bs-dropdown class="col-xs-6" as |dd|}}
        {{#dd.button class="col-xs-12"}}Sort order <span class="caret"></span>{{/dd.button}}
        {{#dd.menu class="dropdown-menu-right" as |ddm|}}
          {{#ddm.item class=(if is_sort_order_upload "active" "")}}
              {{#link-to "gallery" event_id (query-params sort_order="uploaded")}} Sort by upload date {{/link-to}}
          {{/ddm.item}}
          {{#ddm.item class=(if is_sort_order_created "active" "")}}
              {{#link-to "gallery" event_id (query-params sort_order="created")}} Sort by creation date {{/link-to}}
          {{/ddm.item}}
          {{#ddm.item class=(if is_sort_order_likes "active" "")}}
              {{#link-to "gallery" event_id (query-params sort_order="likes")}} Sort by likes {{/link-to}}
          {{/ddm.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
    </div>
  </div>
</div>

<div style="clear:both;"></div>

<div class="container-fluid">
  <div class="row" style="display:flex;flex-wrap:wrap;">
    {{#each photos as |photo|}}
      {{gallery-item item=photo}}
    {{/each}}
  </div>
</div>


{{#if hasMore}}
  {{more-button loadMore=(action 'more')}}
{{/if}}
