<h1 style="text-align:center;margin-bottom:20px;">
  {{#if icon}}
    <img src="{{icon}}" height="50" width="50">
  {{/if}}
  {{title}}
  <button class="btn btn-default" style="width:200px;float:right;" {{action "upload"}}>
    Upload
  </button>
</h1>



<div style="text-align:center;margin-bottom:20px;">
  Here are your snapshots, enjoy!
</div>

{{#bs-dropdown as |dd|}}
    {{#dd.button}}Sort order <span class="caret"></span>{{/dd.button}}
    {{#dd.menu as |ddm|}}
        {{#ddm.item class=(if is_sort_order_upload "active" "")}}
            {{#link-to "gallery" event_id (query-params sort_order="uploaded")}} Sort by upload date {{/link-to}}
        {{/ddm.item}}
        {{#ddm.item class=(if is_sort_order_created "active" "")}}
            {{#link-to "gallery" event_id (query-params sort_order="created")}} Sort by creation date {{/link-to}}
        {{/ddm.item}}
        {{#ddm.item class=(if is_sort_order_likes "active" "")}}
            {{#link-to "gallery" event_id (query-params sort_order="likes")}} Sort by likes {{/link-to}}
        {{/ddm.item}}
    {{/dd.menu}}
{{/bs-dropdown}}

<div class="container-fluid">
  {{#each photos as |photo|}}
    {{gallery-item item=photo}}
  {{/each}}
</div>


{{#if hasMore}}
  {{more-button loadMore=(action 'more')}}
{{/if}}
